<script>


export default {
  name: "Home",
  components: {
   
  },
  data: function () {
    return {  
        tipiCal: ["importante", "impegno","scadenza" ,"extra/svago", "nota"],
        vedere : "importante",
        Calendario: [],
        Notes: [],
        cose: [],
    };
  },
  created: function () {
    this.carica();
    this.vedere = "impegno"
    this.vediamo = [];
    this.importante = [];
    this.mostra();
    
  },
  
  methods: {
    carica() {
        if (localStorage.eventi)
          this.Calendario = JSON.parse(localStorage.eventi);
        if (localStorage.Notes)
          this.Notes = JSON.parse(localStorage.Notes);
        if (localStorage.ToDo) 
          this.cose = JSON.parse(localStorage.ToDo);
    },
    mostra : function(event)
    {
      // svuotamento dei vettori
      this.vediamo = [];
      this.importante = [];
      
      for (let i of this.Calendario )
      {
        // se la categoria da visualizzare è uguale a quella dell'elemento del vettore
        if(this.vedere == this.tipiCal[ i.extendedProps.tipo ])
        {            
          // viene aggiunta al vettore vediamo
            this.vediamo.push(i)            
        }
        // se la categoria importante è uguale a quella dell'elemento del vettore
        if(this.tipiCal[ i.extendedProps.tipo ] == this.tipiCal[0])
        {
          // viene aggiunta al vettore importante
          this.importante.push(i);
        }
      }
    },  
  },
}
</script>

<template>
<div id="sfondo">
  <!-- bootstrap -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    

     <!-- serve per selezionare la categoria da vedere 
          v-model -> imposta la variabile con il valore selezionato -->
    <select class="form-select" v-model="vedere" @change="mostra" >
      <option v-for="velo in this.tipiCal" :key="velo" > {{ velo }} </option>
    </select> 


    <!-- tabella visibile solo quando l'allert generale è disabilitato -->
    <table v-if="this.vediamo.length > 0" class="table table-bordered" >
      <thead class="table-warning">
        <tr id="riga">
          <th>Calendario</th>
          <th>Tipo</th>
          <th>Data Inizio</th>
          <th> Data Fine</th>
        </tr>
      </thead>
      <tbody>
        <tr  v-for="quakes in this.vediamo" :key="quakes.title" >
          <td>{{ quakes.title }} </td>
          <td> {{ tipiCal[ quakes.extendedProps.tipo ]}} </td>
          <td> {{ quakes.start }} </td>
          <td> {{ quakes.end }} </td> 
        </tr>
      </tbody>
      </table>
      <!-- viene mostrato quando l'allert generale è attivato -->
      <div v-else style="margin-top: 10px">
        <div  class="alert alert-warning" role="alert">
          Nessun evento nella categoria {{vedere.toUpperCase()}}
        </div>
      </div>

      <!-- tabella visibile solo quando l'allert importante è disabilitato -->
      <table v-if="this.importante.length > 0 " class="table table-bordered">
      <thead class="table-danger">          
        <tr id="riga">
            <th >Calendario</th>
            <th >Tipo</th>
            <th >Data Inizio</th>
            <th>Data Fine</th>
        </tr>
      </thead>
      <tbody>
        <tr  v-for="quakes in this.importante" :key="quakes.title" >
          <td >{{ quakes.title }} </td>
          <td> {{ tipiCal[ quakes.extendedProps.tipo ]}} </td>
          <td> {{ quakes.start }} </td>
          <td> {{ quakes.end }} </td> 
        </tr>
      </tbody>
    </table>
    <!-- viene mostrato quando l'allert importante è attivato -->
    <div v-else class="alert alert-danger" role="alert">
      Nessun evento nella categoria {{ tipiCal[0].toUpperCase() }}
    </div>
    
        
    <div>
      <!-- tabella visibile solo quando l'allert delle note è disabilitato -->
      <div>
      <!-- tabella visibile solo quando l'allert delle note è disabilitato -->
      <table v-if="this.Notes.length > 0" class="table table-bordered">
        <thead class="table-info">
          <tr id="riga">
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="quakee in this.Notes" :key="quakee.testo" >
              <td > {{ quakee.testo }} </td>
          </tr>
        </tbody>  
      </table>   
      <!-- viene mostrato quando l'allert delle note è attivato -->
      <div v-else class="alert alert-info" role="alert">
        Nessuna Nota Salvata
      </div>
    </div>
  

    <table v-if="this.cose.length > 0" class="table table-bordered">
        <thead class="table-success">
          <tr id="riga">
            <th>To Do List</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="quak in this.cose" :key="quak" >
              <td > {{ quak }} </td>
          </tr>
        </tbody>  
      </table>   
      <!-- viene mostrato quando l'allert della to do è attivato -->
      <div v-else class="alert alert-success" role="alert">
        Nessuna cosa da fare salvata
      </div>
    </div>
</div>
</template>

<style lang='css'>
#sfondo
{
  width:1250px; 
  margin-top: 10px;
  margin-right: 10px;
}
table 
{
  margin-top: 10px; 
}
#riga
{
  text-align: center;
}
select
{
  margin-left: 500px;
}
</style>

