<script>

export default {
  name: "ToDo",
  components: {
   
  },
  data: function () {
    return {  
        cose : [],
        newItem : "",
    };
  },
  created: function () {
    this.carica();
  },
  
  methods: {
    salva() {
      localStorage.ToDo = JSON.stringify(this.cose);
    },
    carica() {
      if (localStorage.ToDo) 
        this.cose = JSON.parse(localStorage.ToDo);
    },
    addElem() {
      if(this.newItem != "")
      {
        for(let i in this.cose)
        {
          if(i == this.newItem)
            break;
        }
        this.cose.push(this.newItem);
        this.newItem = "";
        this.salva();
      }
    },
    rimuovi(elemento) {
      for(let i = 0; i < this.cose.length; i++)
      {
        if(elemento == this.cose[i])
        {
          this.cose.splice(i,1);
          this.salva();
        }          
      }
    },
    
  },      
}
</script>

<template>
<div id="sfondo">
  <!-- bootstrap -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    
    <ol v-if="this.cose.length > 0">
      <li v-for="item in cose" :key="item" id="ul">
        <div class="input-group-text">
          <div style="margin-left: 5px"> {{item}} </div> 
          <img src="./trash1.png" style="width:35px; margin-left: 5px" @click="rimuovi(item)">
        </div>
      </li>
      
    </ol>
    <div v-else class="alert alert-warning" role="alert">
        Nessun elemento da visualizzare
      </div>

    <div >
      <div class="input-group mb-3" >
        <button @click="addElem()" class="btn btn-outline-secondary" type="button" id="button-addon1">Aggiungi</button>
        <input v-model="newItem" type="text" class="form-control" placeholder="Cosa devi fare?" aria-label="Example text with button addon" aria-describedby="button-addon1">
      </div>
    </div>
</div>
</template>

<style lang='css'>
#sfondo
{
  width: 93%;
  margin-left: 3%;
}
</style>

