<script>


export default {
  name: "MainPage",
  components: {
  },
  data: function () {
    return {};
  },
  created: function () {},

  methods: {},
};
</script>

<template>

  <div id="sfondo">
      <router-link to="/" tag="button" class="btn btn-warning col-2">Home</router-link>
      <router-link to="/todo" tag="button" class="btn btn-danger col-2">ToDoList</router-link>
      <router-link to="/calendar" tag="button" class="btn btn-info col-2">Calendar</router-link>
      <router-link to="/pinboard" tag="button" class="btn btn-success col-2">Pinboard</router-link>
      <div><router-view></router-view></div>
  </div> 
  
</template>

<style lang='css'>
#sfondo{  
  text-align: center;
} 
</style>


